<body>

<h1 class="title_div">Dramatis Personae</h1>
<div class="center_div">
<div class="blurb">
<p>A list of all the players in your game of adventure and high fantasy.</p>

<p>Stand strong against the forces of darkness!</p>
</div>
</br>
<table class=table>
  <tr>
    <th>Name</th>
    <th>Class</th>
  </tr>
  <% for player in @players %>
  <tr>
    <td><a href="/players/<%= player.id %>"><%= player.name.capitalize %></a></td>
    <td><%= player.class.capitalize %></td>
  </tr>
  <% end %>
</div>
</body>
