<div id="page-header">
  <img src="/images/red-dragon.png" alt="In Search of Adventure" class="center">
</div>

<div class="title_div">
  <h1>In Search of Adventure</h1>
</div>

<div class="center_div">
  <p>Never go it alone and unprepared against unstoppable beasts. With the brave and the bold, push back the forces of chaos and make your fortune... </p>

  <h2>... but do not be surprised when you die charging a red dragon!</h2>
  <img src="http://vignette4.wikia.nocookie.net/warhammerfb/images/c/c2/404824.png/revision/latest?cb=20150826090718" align="right">
  <p align="right">The Game Master</p>
</div>
