<div class="title_div">
  <h1>In Search of Adventure</h1>
</div>

<div class="center_div">
  <p>Never go it alone and unprepared against unstoppable beasts. With the brave and the bold, push back the forces of chaos and make your fortune... </p>

  <h2>... but do not be surprised when you die charging a red dragon!</h2>
</div>
