<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <title>Adventure</title>
        <link href="home.css" rel="stylesheet"/>
    </head>
    <body>
        <h1>Testing</h1>
    </body>
</html>
