<!doctype html>
<html lang="en">
    <head>
      <meta charset="UTF-8"/>
      <title>In Search of Adventure</title>
      <link href="https://fonts.googleapis.com/css?family=MedievalSharp" rel="stylesheet">
      <link rel="icon" href="https://static.apkupdate.com/images/cover/com.beamdog.baldursgateIIenhancededition.png" />
      <link rel="stylesheet" type="text/css" href="/styles/structure.css">
    </head>
    <body>
      <div class="nav">
      <ul>
        <li>
          <a href="/">Introduction</a>
        </li>
        <li>
          <a href="/players">Character Index</a>
        </li>
        <li>
          <a href="/monsters">Monster Index</a>
        </li>
        <li>
          <a href="/items">Item List</a>
        </li>
        <li>
          <div class="search">
            <form role="search" method="get" action="https://cse.google.com/cse">
                                <div>
                                    <label class="screen-reader-text" for="q"></label>
                                    <input value="" name="q" id="q" type="text">
                                    <input value="006680642033474972217:6zo0hx_wle8" name="cx" id="cx" type="hidden">
                                    <input id="searchsubmit" value="Search" type="submit">
                                </div>
                            </form>
          </div>
        </li>
      </ul>
    </div>
      <section id="content">
      <%= yield %>
      </section>
      </main>
    </body>
</html>
