<div class="title_div"
<h1><%= @item.name.split.map(&:capitalize).join(' ') %></h1>
</div>

<div class="center_div">

    <div class="subject-image">
        <img src=<%= @item.image %> alt="">
    </div>

    <p>Owner: <%= Player.find(@item.player_id).name %></p>

    <p> <%= @item.description %></p>

</div>
