body {
  display: block;
  margin-left: 200px;
  background: black;
  background-size: 100%;
  background-repeat: no-repeat;
  color: black;
  font-family: 'MedievalSharp', cursive;
  padding: 0px;
  margin: 0px;
  font-size: 2em;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'MedievalSharp', cursive;
  margin: 0px;
  padding: 0px;
  flex
}

a, a:link, a:visited {
  color: blue;
  text-decoration: none;
}

a:hover, a:active, a:focus {
  color: blue;
}

.page-header {
  color: rgb(255, 255, 255);
  background-size: 100% no-repeat center;
  background-color: rgba(0, 0, 0, 0);
  background-position: 50% 0px;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-image: none;
  background-origin: padding-box;
  background-clip: border-box;
  background-size: cover;
  position: relative;
  max-height: 600px;
  overflow: hidden;
  margin-bottom: 35px;
}

.title_div {
  color: gold;
  font-size: 2em;
  word-spacing: 0.5em;
  text-align: center;
  position: relative;
  min-height: 100%;
  top: 1em;
  text-shadow: 3px 2px red;
}

.center_div {
  border: 2px solid #993333;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;
  width: 90%;
  background: #f1e9d2;
  text-align: left;
  padding: 8px;
  padding-bottom: 7em;
  padding-left: 2em;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #f1e9d2;
}

li {
  float: left;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #993333;
}

.nav {
  display: flex;
  justify-content: space-around;
  z-index: auto;
  position: fixed;
  border: 2px solid #993333;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  background: #f1e9d2;
  text-align: left;
}

.search {
  flex
  justify-content: right;
  color: white;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 95%;
}

.container {
  position: relative;
  bottom: 8.5em;
  text-align: center;
}

.subject-image {
  overflow-wrap: break-word;
  display: flex;
  justify-content: flex-end;
  flex: right;
  margin: 1em 1em 0em 0em;
  max-width: 100%;
  max-height: 100%;
  float: right;
  width: 540px;
  height: 742px;
}
