<div class="center_div">
  <form action="/" method="post">

  <label for="name">Name: </label>
  <input type="text" name="name" value="">

  <label for="class">Species: </label>
  <input type="text" name="species" value="">

  <label for="class">Type: </label>
  <input type="text" name="type" value="">

  <label for="image">Image: </label>
  <input type="text" name="image" value="">

  <label for="description">Description: </label>
  <input type="text" name="description" value="">

  <input type="submit" value="Create Monster">
</form>
</div>
